<style>
  .large-container{
    max-width :50%;
    margin: 0 auto;
  }

  .small-container{
    font-size: 20px;
    
    border: solid 2px;
    border-radius: 10px;
  }

</style>

<% @questions.each do |question| %>
  <div class="large-container my-5">
    
      <p class="small-container p-3">
       <%= question.title %>
       <%= question.detail %>
      </p>
   
  </div>
<% end %>

