@import 'bootstrap/scss/bootstrap';


nav {
    background-color: #5D99FF;
  }
.navbar-brand{
    font-size: 2.3vw;
    padding-left: 115px;
}

nav div{
    font-size: 1.2vw;
    padding-left:85px;
}


.dropdown-item{
    font-size: 18px;
    color:#5D99FF;
}

